<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/main.css">
</head>
<body>

    <div class="title"><h1>Do u wanna hear a joke?</h1>
   <form action="/submit" method="GET">
  <button type="submit">Yes yes!</button>
  <button type="submit">Meh no</button>
</form>
</div>
    
</body>
</html>