.joke{
     text-align: center;
    border: black solid 1px;
    margin-top: 15%;
    margin-left: 30%;
     margin-right: 30%;
     padding: 15px;
     border-radius: 20px;
height: 100hv;
}
.title{
    text-align: center;
    border: black solid 1px;
    margin-top: 15%;
    margin-left: 30%;
     margin-right: 30%;
     padding: 30px;
     border-radius: 20px;
height: 100hv;
}
body{
    background-color: lightblue;
}
button{
    background-color: lightblue;
    height: 40px;
    width: 100px;
    border-radius: 20px;
}